@model first_app.Models.Product

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
